/* FORM CSS */
.login-form {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form form input {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 20px;
	margin: 10px;
	padding: 10px;
}
.login-form form button {
	width: 100px;
	height: 40px;
	padding: 10px;
}

/* FRIENDS ELEMENT CSS */
.friends-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* FRIEND CARD CSS */
.friend-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 50vw;
	border: 1px solid black;
	box-shadow: 8px 8px black;
	margin: 2vh;
}

.friends-container button {
	width: 100px;
	height: 40px;
	padding: 10px;
	background-color: hotpink;
	margin: 30px;
}
